.footer__nav {
  justify-self: end;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__item {
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }

  &--logged-in {
    display: flex;
  }
}

.footer-nav__link {
  display: flex;
  align-items: center;
  color: rgba(@basic-white, 0.7);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--log-out {
    margin-left: 20px;
    color: rgba(@basic-white, 0.3);
  }
}

.footer-nav__icon {
  margin-right: 13px;
}

