.slider-controls__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls__item {
  display: block;
  margin-right: 18px;
}

.slider-controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 1px solid @basic-black;
  background-color: transparent;
  cursor: pointer;
}

.slider-controls__button--active::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid @basic-black;
}
