.slider {
  position: relative
}

.slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  &--show {
    display: flex;
  }
}

.slider__controls {
  position: absolute;
  top: 340px;
  right: 0;
  z-index: 1;
  margin-right: 10px;
}