.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
