@basic-black: #000;
@special-black: #363636;
@basic-grey: #E5E5E5;
@dark-grey: #DCDCDC;
@special-grey: #F2F2F2;
@special-dark-grey: #EAEAEA;
@medium-grey: #C4C4C4;
@basic-white: #fff;
@basic-yellow: #F7E296;
@dark-yellow: #F0C52E;
@accent-yellow: #FFC600;
@basic-green: #91C92F;
@error: #F6DADA;
