@basic-black: #000;
@special-black-2: #222;
@special-black: #111;
@copyright-black: #666;
@basic-white: #fff;
@basic-green: #68b738;
@special-green: #5eaa2f;
@basic-grey: #f2f2f2;
@background-grey: #eaeaea;
@hover-grey: #bababa;
@special-light-grey: #ebebeb;
@special-medium-grey: #cdcdcd;
@special-medium-dark-grey: #666;
@special-dark-grey: #444;
@special-heavy-grey: #222;
@border-grey: #e6e6e6;
@decor-grey: #d9d9d9;
@border-input: #e7e7e7;
@error: #ff8282;
